.authentication__header {
  color: white;
  text-align: center;
}

.authentication {
  width: 100%;
  max-width: 25rem;
  margin: 7rem auto;
  text-align: center;
}

.authentication form {
  margin-bottom: 1rem;
}
.form-control input {
  padding: 0.4rem 0.5rem;
}
