.place-list {
  list-style: none;
  margin: 1rem auto;
  padding: 0;
  width: 100%;
  max-width: 40rem;
}
.place-list__empty {
  width: 100%;
  max-width: 50rem;
  padding: 2rem;
  text-align: center;
}
.places-list li::marker {
  content: none;
}
